.wrapper{
    margin: 5em 3em;
}

.del-btn{
    background-color: red;
    color:white;
    border:none;
    padding: 0.5em 1em;
    transition: 0.2s;
}
.del-btn:hover{
    background-color: rgb(0, 0, 0);
    color:white;
    border:none;
    padding: 0.5em 1em;
}